html{
    background-color:#FFFFFF;
    font-size:200%;
    height: 98%;
    padding:0px;
    margin:0px;
}
body{
    background-color:#0000FF;
    height:100%;
}
#Title {
    font-weight:400;
    font-size:200%;
    margin:1% auto;
    width:70%;
    text-align:center;
    background-color:#FFFF00;
}
#leftWrap{
    background-color:#FF0000;
    float:left;
    width:20%;
    margin:1% 1%;
    height:96%;
}
#rightWrap{
    background-color:#00FF00;
    float:right;
    width:75%;
    margin:1% 1%;
    height:96%;
}
#textInput{
    width:95%;
    margin:1% 2%;
    height: 90%;
    resize:none;
}
#someButton{
    margin:3% 5%;
    width:89%;
    font-size:400%;
    background-color: #DDDDDD;
}