@import url(https: //fonts.googleapis.com/css?family=Open+Sans);

html {
    background-color: #FFFFFF;
    font-size: 200%;
    height: 98%;
    padding: 0px;
    margin: 0px;
}

body {
    min-height:550px;
    height: 100%;
    background-color: rgb(228, 228, 228);
}

#Title {
    font-weight: 400;
    font-size: 2.5vw;
    margin: 1% auto;
    width: 80%;
    text-align: center;
    background-color: rgb(228, 228, 228);
}

#leftWrap {
    background-color: #475574;
    float: left;
    width: 20%;
    margin: 1% 1%;
    height: 96%;
}

#rightWrap {
    background-color: #475574;
    float: right;
    width: 75%;
    margin: 1% 1%;
    height: 96%;
    font-size: 3vw;
}

#marker {
    width: 95%;
    height: 92%;
    margin: 1% 2%;
    padding: 0;
    display: block;
}

.textField {
    padding: 0;
    font-size: 15px;
    font: 20px 'Open Sans';
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing:border-box;
}

#textInput {
    width: 100%;
    height: 100%;
    resize: none;
}

#highlighter {
    padding: 0;
    resize: none;
    position: absolute;
    pointer-events: none;
    background-color: transparent;
    color: transparent;
    box-sizing:border-box;
    overflow-x: hidden;

}

#sendButton {
    margin: 3% 0;
    font-size: 3vw;
    height: auto;
    background-color: #DDDDDD;
    border-radius:10px;
}

high {
    background-color: rgb(255, 0, 0, 0.3);
}

#status {
    text-align:right;
    font-size:2.5vh;
    position: relative;
    top:0;
    right:3%;
    padding-right:3%;
    vertical-align:middle;
}

#upperPart {
    height:90%;
}

#modeSelect {
    width: 100%;
    font-size: 1.3vw;
}
#lowerPart {
    height:10%;
}
#highlightUndoer {
    width:100%;
    font-size:2vh;
}
