<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/mainPage.css')}}>
    <script src={{url_for('static', filename='js/jquery.min.js')}}></script>
    <script src={{url_for('static', filename='js/jquery.balloon.min.js')}}></script>
    <script src={{url_for('static', filename='js/mainScript.js')}}></script>
</head>

<body>
    <div id="leftWrap">
        <div id="upperPart">
            <div id="Title">Wikinator</div>
            <div style="width:90%; margin:0 auto;">
                <button id="sendButton">Highlight terms</button>
                <select id="modeSelect">
                    <option value="" selected disabled hidden>Choose the mode here</option>
                    {% for mode in availableModes %}
                        <option value={{mode}}><p>{{mode}}</p></option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="lowerPart">
            <div style="width:50%; margin:0 auto; position:relative;bottom:0;">
                <button id="highlightUndoer" disabled>Cancel</button>
            </div>
        </div>

    </div>
    <script></script>
    <div id="rightWrap">
        <div id="marker">
            <div id="highlighter" class="textField"></div>
            <textarea id="textInput" class="textField" placeholder="Put your text in here"></textarea>
        </div>
        <div style="width:100%;">
            <div id="status" style="color:{{statusColor}}">{{status}}</div>
        </div>
    </div>
</body>
</html>
