<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/mainPage.css')}}>
    <script src={{url_for('static', filename='js/mainScript.js')}}></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div id="leftWrap">
        <div id="Title">Termarker</div>
        <button id="someButton">Press me NOW</button>
        <div style="width:90%; margin:0 5%;">
            <select id="modeSelect" style="width:100%;font-size:1.3vw;" name="What">
                <option value="" selected disabled hidden>Choose the mode here</option>
                {% for mode in availableModes %}
                    <option value={{mode}}><p>{{mode}}</p></option>
                {% endfor %}
            </select>
        </div>
    </div>
    <script></script>
    <div id="rightWrap">
        <div id="marker">
            <div id="highlighter"></div>
            <textarea id="textInput" placeholder="Put your text in here"></textarea>
            <script>
                textInput.oninput = function() {
                    highlighter.innerHTML = "<high>" + this.value + "</high>";
                }
            </script>
        </div>
        <script>
            let h = $('#highlighter');
            let inp = $('#textInput');
            h.css('left', inp.offset().left + 'px');
            h.css('top', inp.offset().top + 'px');
            h.css('width', inp.width() + 'px');
            h.css('height', inp.height() + 'px');
        </script>
    </div>
</body>

</html>
